@import url("https://use.typekit.net/aoo1fcr.css");

@font-face {
  font-family: 'GT Alpina';
  font-weight: 400;
  font-style: normal;
  src: url('/fonts/GT-Alpina-Standard-Regular.eot');
  src:
    url('/fonts/GT-Alpina-Standard-Regular.eot?#iefix') format('embedded-opentype'),
    url('/fonts/GT-Alpina-Standard-Regular.woff2') format('woff2'),
    url('/fonts/GT-Alpina-Standard-Regular.woff') format('woff'),
    url('/fonts/GT-Alpina-Standard-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'GT Alpina';
  font-weight: 400;
  font-style: italic;
  src: url('/fonts/GT-Alpina-Standard-Regular-Italic.eot');
  src:
    url('/fonts/GT-Alpina-Standard-Regular-Italic.eot?#iefix') format('embedded-opentype'),
    url('/fonts/GT-Alpina-Standard-Regular-Italic.woff2') format('woff2'),
    url('/fonts/GT-Alpina-Standard-Regular-Italic.woff') format('woff'),
    url('/fonts/GT-Alpina-Standard-Regular-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'GT Alpina Fine';
  font-weight: 400;
  font-style: normal;
  src: url('/fonts/GT-Alpina-Fine-Standard-Medium.eot');
  src:
    url('/fonts/GT-Alpina-Fine-Standard-Medium.eot?#iefix') format('embedded-opentype'),
    url('/fonts/GT-Alpina-Fine-Standard-Medium.woff2') format('woff2'),
    url('/fonts/GT-Alpina-Fine-Standard-Medium.woff') format('woff'),
    url('/fonts/GT-Alpina-Fine-Standard-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'GT Alpina Fine';
  font-weight: 400;
  font-style: italic;
  src: url('/fonts/GT-Alpina-Fine-Standard-Medium-Italic.eot');
  src:
    url('/fonts/GT-Alpina-Fine-Standard-Medium-Italic.eot?#iefix') format('embedded-opentype'),
    url('/fonts/GT-Alpina-Fine-Standard-Medium-Italic.woff2') format('woff2'),
    url('/fonts/GT-Alpina-Fine-Standard-Medium-Italic.woff') format('woff'),
    url('/fonts/GT-Alpina-Fine-Standard-Medium-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'GT Alpina Condensed';
  font-weight: 300;
  font-style: normal;
  src: url('/fonts/GT-Alpina-Fine-Condensed-Thin.eot');
  src:
    url('/fonts/GT-Alpina-Fine-Condensed-Thin.eot?#iefix') format('embedded-opentype'),
    url('/fonts/GT-Alpina-Fine-Condensed-Thin.woff2') format('woff2'),
    url('/fonts/GT-Alpina-Fine-Condensed-Thin.woff') format('woff'),
    url('/fonts/GT-Alpina-Fine-Condensed-Thin.ttf') format('truetype');
}

@font-face {
  font-family: 'GT Alpina Extended';
  font-weight: 700;
  font-style: normal;
  src: url('/fonts/GT-Alpina-Fine-Extended-Bold.eot');
  src:
    url('/fonts/GT-Alpina-Fine-Extended-Bold.eot?#iefix') format('embedded-opentype'),
    url('/fonts/GT-Alpina-Fine-Extended-Bold.woff2') format('woff2'),
    url('/fonts/GT-Alpina-Fine-Extended-Bold.woff') format('woff'),
    url('/fonts/GT-Alpina-Fine-Extended-Bold.ttf') format('truetype');
}
