/* FONTS — — — — — — — — — — — — */

$serif: "GT Alpina", serif;
$serif-fine: "GT Alpina Fine", serif;
$serif-extended: 'GT Alpina Extended', serif;
$serif-condensed: 'GT Alpina Condensed', serif;
$sans-serif: 'Futura-PT', helvetica, arial, sans-serif;

/* COLORS — — — — — — — — — — — — */

$color-white: #fff;
$color-black: #000;

$color-darkgreen: #4fa188;
$color-darkestgreen: #40826e;

$color-green: #8cc5b0;
$color-lightgreen: #add6cc;
$color-lightestgreen: #cde9df;

$color-red: #8f302b;
$color-lightred: #b6655c;
$color-lightestred: #e7ae9e;

$color-blue: #001e32;
$color-lightblue: #004059;
$color-lightestblue: #83a3b0;

$color-gray: #646464;
$color-lightgray: #c8c8c8;
$color-lightestgray: #f0f0f0;


/* WIDTHS & SPACING — — — — — — — — — — — — */

$width-xs: 21rem;
$width-s: 30rem;
$width-m: 42rem;
$width-l: 56rem;

$spacing-l: 5rem;
$spacing-m: 3rem;
$spacing-s: 1rem;


/* MEDIA QUERIES — — — — — — — — — — — — */

$media-xs: 600px;
$media-s: 700px;
$media-m: 1160px;
$media-l: 1540px;
$media-xl: 1700px;

$media-grantlist: 1360px;


/* IN USE — — — — — — — — — — — — */

$color-background: $color-white;
$color-text: $color-blue;

$color-footer: $color-blue;
