$sans-serif: 'futura', helvetica, arial, sans-serif;

$color-white: #fff;
$color-black: #000;

$color-background: $color-white;
$color-text: $color-black;

$width-xs: 21rem;
$width-s: 30rem;
$width-m: 42rem;
$width-l: 56rem;

$media-s: 700px;
$media-m: 900px;
$media-l: 1200px;
$media-xl: 1900px;
